<div class="container" style="margin-top: 70px">
  <div class="row">
    <div class="col-sm-5 card">
      <div class="card-header">Member Details</div>
      <form class="card-body" [formGroup]="premiumInputForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="name">Name</label>
          <input formControlName="name" type="text" name="name" class="form-control" id="name" placeholder="Enter name"
            required />
          <div class="text-danger" *ngIf="premiumInputForm.controls.name.errors">
            Name is required.
          </div>

          <label for="dateOfBirth">Date Of Birth</label>
          <input formControlName="dateOfBirth" type="date" name="dateOfBirth" class="form-control" id="dateOfBirth"
            placeholder="Enter Date Of Birth" />
          <div class="text-danger" *ngIf="premiumInputForm.controls.dateOfBirth.errors">
            DateOfBirth is required with Minimum age 70.
          </div>

          <label for="sumInsured">Sum Insured</label>
          <input formControlName="sumInsured" type="number" name="sumInsured" class="form-control" id="sumInsured"
            placeholder="Enter sum insured" required />
          <div class="text-danger" *ngIf="premiumInputForm.controls.sumInsured.errors">
            Sum Insured is required
          </div>

          <label for="occupation">Occupation</label>
          <select formControlName="occupation" class="form-control" name="occupation" placeholder="Enter name" required>
            <option value="" disabled selected></option>
            <option *ngFor="let item of occupationList">{{ item }}</option>
          </select>
          <div class="text-danger" *ngIf="premiumInputForm.controls.occupation.errors">
            Occupation is required
          </div>


        </div>
      </form>
    </div>
    <div class="col-sm-2"></div>
    <div class="col-sm-5 card">
      <div class="card-header">Calculated Premium
        <label class="font-weight-bold" *ngIf="premiumInputForm.valid"> for {{premiumInputForm.controls.name.value}}</label>
      </div>
     
      <div *ngIf="premiumInputForm.valid" class="card-body disabled">

        <label for="age">Age</label>
        <input [(ngModel)]="calcultedAge" type="number" name="age" class="form-control" id="age" readonly />

        <label for="tpdPremium">TPD Premium</label>
        <input [(ngModel)]="calcutedPremium.tpdPremium" type="number" name="tpdPremium" class="form-control"
          id="tpdPremium" readonly />

        <label for="deathPremium">Death Premium</label>
        <input [(ngModel)]="calcutedPremium.deathPremium" type="number" name="deathPremium" class="form-control"
          id="deathPremium" readonly />
      </div>
    </div>
  </div>
</div>